@model Sweet

@{
    ViewData["Title"] = "Add a new sweet";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Add a New Sweet</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group text-center">
                        <img id="SweetImagePreview"  class="border-info" style="max-width: 150px" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageURL" class="control-label"></label>
                        <input asp-for="ImageURL" class="form-control" />
                        <span asp-validation-for="ImageURL" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SweetName" class="control-label"></label>
                        <input asp-for="SweetName" class="form-control" />
                        <span asp-validation-for="SweetName" class="text-danger"></span>
                    </div>
                    @* <div class="form-group">
                        <label asp-for="Brand" class="control-label"></label>
                        <input asp-for="Brand" class="form-control" />
                        <span asp-validation-for="Brand" class="text-danger"></span>
                    </div> *@
                    <div class="form-group">
                        <label asp-for="PriceInPence" class="control-label"></label>
                        <input asp-for="PriceInPence" class="form-control" />
                        <span asp-validation-for="PriceInPence" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StockInGrams" class="control-label"></label>
                        <input asp-for="StockInGrams" class="form-control" />
                        <span asp-validation-for="StockInGrams" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success float-end" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <script>

        $(document).ready(function () {
            var output = document.getElementById('SweetImagePreview');
            output.src = $("#ImageUrl").val();
        })

        $("#ImageUrl").on("change", function () {
            var output = document.getElementById('SweetImagePreview');
            output.src = $(this).val();
        })
    </script>
}